// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
// @import "dropdowns.scss";
// @import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
// @import "login.scss";
// @import "error.scss";
// @import "footer.scss";


.page-header {
  position: relative;
  color: #000000;
}

.table {
  margin-bottom: 0;
  color: #000000;
}

.card-body__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .progress {
    width: 100%;
  }

  & .custom-select {
    width: 100%;
  }
}

.table td:not(:first-child) {
  text-align: center;
}

.table-theme .bg-success {
  background-color: #76b91e !important;
}



#map {
  height: 100%;
  min-height: 300px;
}

.card {
  background-color: transparent;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0;
}

.card-header:first-child {
  border-radius: 0;
}

@media (min-width: 768px) {
  .card-body__wrap & .progress {
    width: 50%;
  }
  .card-body__wrap & .custom-select {
    width: 50%;
  }
}
